/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--main-font-family,sans-serif);
  font-variation-settings: 'wght' var(--main-font-family-regular-width, 400), 'style' Regular,
}

.header {
  display: flex;
  padding-top:var(--header-padding);
  justify-content: center;
  margin-bottom: var(--header-margin-bottom);
}

.header__content {
  display: flex;
  flex-direction: column;
  width: var(--section-width);
  background-color: var(--background-sectin-color);
  padding: var(--header-content-padding-top-bottom) var(--header-content-padding-left-right);
  justify-content: center;
  align-items: center;
  gap:var(--header-text-margin);
  border: var(--content-border-width),var(--content-border-style),var(--content-border-color);
}

.header__title {
  font-family: var(--accent-font-family);
  font-size: var(--header-title-size);
}

.header__description {
  font-family: var(--accent-font-family);
  font-size: var(--header-description-size);
}

.main__content {
  display: grid;
  gap: var(--section-margin);
  justify-content: center;

}

.main__content__section:nth-child(2) .section__image {
	filter: grayscale(0.5);
}

.main__content__section:nth-child(3) .section__image {
	filter: saturate(4.5);
}

.main__content__section:nth-child(4) .section__image {
	filter: hue-rotate(50deg);
}

.main__content__section:nth-child(5) .section__image {
	filter: invert(1) brightness(0.9);
}

.main__content__section:nth-child(6) .section__image {
	filter: sepia(1);
}

.main__content__section:nth-child(7) .section__image {
	filter: blur(5px);
}

.main__content__section:nth-child(8) .section__image {
	filter: hue-rotate(90deg) opacity(0.7) blur(2px);
}

.section__image {
  object-fit: cover;
	object-position: center;
	width: 100%;
  z-index: 0;

}

.main__content__section {
  width: var(--section-width);
  display: grid;
  background-color: var(--background-sectin-color);
}

.section__title {
  position: relative;
  z-index: 1;
  padding: 3px;
  padding-left: var(--title-margin);
  padding-right: var(--title-margin);
  font-weight: var(--main-font-family-bold-weight);
  font-size: var(--section-title-font-size);
  border: var(--content-border-width),var(--content-border-style),var(--content-border-color);
  border-bottom: none;
}

.image__block {
  border: var(--content-border-width),var(--content-border-style),var(--content-border-color);
  position: relative;
  display: flex;
}

.image__watermark {
  position: absolute;
  top: 6.2%;
  right: 3%;
  font-family: var(--accent-font-family);
  font-size: var(--watermark-size);
  mix-blend-mode: hard-light;
  --outline-color: #fff;
  opacity: 0.5;
  z-index: 1;
}

@supports (text-stroke: 1px var(--outline-color)) {
  .image__watermark {
    -webkit-text-stroke: 1px var(--outline-color);
    text-stroke: 1px var(--outline-color);
  }
}

@supports not (text-stroke: 1px var(--outline-color)) {
  .image__watermark {
    text-shadow: 
      -1px -1px 0 var(--outline-color),
      1px -1px 0 var(--outline-color),
      -1px 1px 0 var(--outline-color),
      1px 1px 0 var(--outline-color);
  }
}

.section__description {
  border: var(--content-border-width),var(--content-border-style),var(--content-border-color);
  border-top:none;
  display: flex;
  flex-direction: column;
  gap: var(--page-gap);
  padding: var(--page-gap);
}

.section__description__text, 
.memory {
  text-align: start;
  font-size: var(--section-title-font-size);
}

.like-icon {
  width: 27px;
  height: 24px;
}

.button__text {
  font-size: var(--button-text-size);
  font-family: var(--accent-font-family);
  font-weight: var(--main-font-family-regular-weight);
  padding: 12.5px 37px;
  border: var(--content-border-width),var(--content-border-style),var(--content-border-color);
}

.card__icon-button {
  display: flex;
  gap: var(--button-gap);
  align-items: center;
  align-self: end;
}

.save-button {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 52px;
  margin-bottom: clamp(100px, 100px + (105 - 100) * ((100vw - 375px) / (1440 - 375)), 105px);
}

.page__save-button {
  justify-items: center;
  justify-content: center;
  padding: var(--paddint-left-right-save-button) var(--padding-up-down-save-button);
  background-color: #fff;
  display: grid;
  grid-row: 1fr 1fr;
  border: var(--content-border-width),var(--content-border-style),var(--content-border-color);
  gap:8px;
}

.save-text {
  font-size: var(--button-text-size);
  font-family: var(--accent-font-family);
  font-weight: var(--main-font-family-regular-weight);
}

@media (min-width: 768px) {
  .floppy-save {
   width: 21px;
   height: 21px;
  }
  .page__save-button {
    display: flex;
    align-items: center;
  }
}