/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--main-font-family,sans-serif);
  font-variation-settings: 'wght' var(--main-font-family-regular-width, 400), 'style' Regular,
}

.header {
  display: flex;
  padding-top:var(--header-padding);
  justify-content: center;
  margin-bottom: var(--header-margin-bottom);
}

.header__content {
  display: flex;
  flex-direction: column;
  width: var(--section-width);
  background-color: var(--background-sectin-color);
  padding: var(--header-content-padding-top-bottom) var(--header-content-padding-left-right);
  justify-content: center;
  align-items: center;
  gap:var(--header-text-margin);
  border: var(--content-border-width),var(--content-border-style),var(--content-border-color);
}

.header__title {
  font-family: var(--accent-font-family);
  font-size: var(--header-title-size);
}

.header__description {
  font-family: var(--accent-font-family);
  font-size: var(--header-description-size);
}

.main__content {
  display: grid;
  gap: var(--section-margin);
  justify-content: center;

}

.section__image {
  width: 100%;
  height: 100%;
}

.main__content__section {
  width: var(--section-width);
  display: grid;
  background-color: var(--background-sectin-color);
  border: var(--content-border-width),var(--content-border-style),var(--content-border-color);
}

.section__title {
  margin-left: var(--title-margin);
  margin-right: var(--title-margin);
  font-weight: var(--main-font-family-bold-weight);
  font-size: var(--section-title-font-size);
}

.image__block {
  position: relative;
  display: inline-block;
  display: flex;
}

.image__watermark {
  position: absolute;
  top: 6.2%;
  right: 3%;
  font-family: var(--accent-font-family);
  font-size: var(--watermark-size);
  mix-blend-mode: hard-light;
  --outline-color: #fff;
  opacity: 0.5;
}

@supports (text-stroke: 1px var(--outline-color)) {
  .image__watermark {
    -webkit-text-stroke: 1px var(--outline-color);
    text-stroke: 1px var(--outline-color);
  }
}

@supports not (text-stroke: 1px var(--outline-color)) {
  .image__watermark {
    text-shadow: 
      -1px -1px 0 var(--outline-color),
      1px -1px 0 var(--outline-color),
      -1px 1px 0 var(--outline-color),
      1px 1px 0 var(--outline-color);
  }
}

.section__description {
  display: flex;
  flex-direction: column;
  gap: var(--page-gap);
  padding: var(--page-gap);
}

.section__description__text, 
.memory {
  text-align: start;
  font-size: var(--section-title-font-size);
}

.like-icon {
  width: 27px;
  height: 24px;
}

.button__text {
  font-size: var(--button-text-size);
  font-family: var(--accent-font-family);
  font-weight: var(--main-font-family-regular-weight);
  padding: 12.5px 37px;
  border: 2px solid #000000;
}

.card__icon-button {
  display: flex;
  gap: var(--button-gap);
  align-items: center;
  align-self: end; 
}
 